<h1>¡Bienvenido!</h1>
<br/>
<p>Este es nuestro trabajo investigativo hecho en Ruby, consiste en una página web con un CRUD, para acceder al mismo debes clickear en "Amigos".</p>
<br/>
<br/>
<h3>Integrantes:</h3>
<ol type=”A”>
  <li>Alberto López</li>
  <li>Jorge Falcón</li>
</ol>