<h1>Editar amigo</h1>

<%= render "form", amigo: @amigo %>

<br>

<div>
  <%= link_to "Ver información de este amigo amigo", @amigo %> |
  <%= link_to "Volver a la lista principal", amigos_path %>
</div>
